.foot {
    background-color: var(--bg-dark);
    color: var(--color-light);
    padding: 5rem;
}

.foot-content {
    text-align: center;
    font-size: 1.3rem;
    word-spacing: 2px;
    letter-spacing: 1.5;
}